@import './styles.css';

* {
    scroll-behavior: smooth;
}

body {
    background: var(--clr-white);
}

#container {
    display: grid;
    grid-template-columns: 350px 1fr;
}

#menu-toggle {
    display: none;
    position: fixed;
    top: 4rem;
    right: 1rem;
    z-index: 1000;
    background: var(--clr-blue);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 10px;
    cursor: pointer;
}

nav {
    height: 100dvh;
    position: sticky;
    top: 0;
    align-self: start;
    background: var(--clr-blue);
    padding-inline: 1rem;
    padding-top: calc(120px + 3rem);

    h2 {
        font-size: 1.5rem;
        color: var(--clr-white);
        padding-inline: 20px;
    }

    ul {
        padding-top: 3rem;
    }

    li {
        display: flex;
        align-items: center;
        border-radius: var(--border-radius);

        a {
            cursor: pointer;
            vertical-align: middle;
            line-height: 50px;
            height: 50px;
            width: 100%;
            padding-inline: 20px;
            color: var(--clr-white);
            text-decoration: none;
            font-size: 1.2rem;
        }

        &:hover {
            background: var(--clr-white);

            a {
                color: var(--clr-blue);
            }
        }
    }
}

main {
    padding-block: calc(120px + 5rem);
}

#sections-container {
    width: clamp(350px, 70%, 850px);
    margin-inline: auto;
    padding-inline: 1rem;
}

.section {
    scroll-margin-block: 120px;
    h2 {
        padding-top: 1rem;
        padding-bottom: 0.5rem;
        font-size: 1.8rem;
    }

    h3 {
        padding-top: 0.5rem
    }

    p {
        padding-top: 0.2rem;
        padding-bottom: 0.5rem;
    }

    li {
        margin-inline: 1.5rem;
    }

    img {
        display: block;
        margin-inline: auto;
        max-width: 80%;
        height: auto;
        object-fit: cover;
        margin-top: 1rem;
    }

    .figure {
        width: 80%;
        font-size: 0.9rem;
        text-align: center;
        margin-inline: auto;
    }

    dt {
        margin-top: 1rem;
        margin-bottom: 0.3rem;
    }
}

@media screen and (max-width: 768px) {
    #container {
        display: block;
    }

    #menu-toggle {
        display: block;
        position: fixed;

        &.active {
            &::before {
                transform: rotate(45deg);
                top: 50%;
            }
            &::after{
                transform: rotate(-45deg);
                top: 50%;
            }
        }

        &::before {
            content: '';
            width: 20px;
            height: 2px;
            background: var(--clr-white);
            position: absolute;
            translate: -50%;
            top: 35%;
            transition: all 300ms ease;
        }

        &::after {
            content: '';
            width: 20px;
            height: 2px;
            background: var(--clr-white);
            position: absolute;
            translate: -50%;
            transition: all 300ms ease;
            top: 60%;
        }
    }

    nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        transform: translateX(-100%);
        z-index: 999;
        padding-top: 4rem;
    }

    nav.open {
        transform: translateX(0);
    }

    main {
        margin-top: 4rem;
        padding: 1rem;
    }
}
